{% extends 'monApp/base.html' %}
{% block menu %}
    <h1>Liste des statut</h1>
{% endblock %}
{% block contenu %}
<table class="table">
        <thead>
            <th>Id</th>
            <th>Libelle</th>
            <th>Nombre de Produits</th>
            <th></th>
        </thead>
        <tbody>
            {% for sttt in sttts %}
                <tr>
                    <td><a href="{% url 'dtl_sttt' sttt.idStatut %}">{{ sttt.idStatut }}</a></td>
                    <td>{{ sttt.libelle }} </td>
                    <td>{{ sttt.nb_produits }} </td>
                    <td>
                    <a href="{% url 'dtl_sttt' sttt.idStatut %}" class="btn btn-primary mt-2">Détails</a>
                    <a href="{% url 'sttt-chng' sttt.idStatut %}" class="btn btn-warning mt-2">Modifier</a>
                    <a href="{% url 'dlt-sttt' sttt.idStatut %}" class="btn btn-danger mt-2">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'crt-sttt' %}" class="btn btn-success mt-2">Créer un nouveau statut</a>
    <p>
    J'ai
    {% if sttts|length < 5 %}
    peu de
    {% elif sttts|length < 10 %}
    quelques
    {% else %}
    beaucoup de
    {% endif %}
    statut préférés.
    </p>
    <p class="lead mb-3 ml-0">Rechercher un élément...</p>
    <form method="GET" action="">
        <input class="form-control" type="text" name="search" placeholder="Tapez ici votre recherche"
        value="{{ request.GET.search }}">
        <button type="submit" class="btn btn-success mt-2">Rechercher</button>
    </form>
{% endblock %}