{% extends 'monApp/base.html' %}
{% block menu %}
    <h1>Liste des catégories</h1>
{% endblock %}
{% block contenu %}
<table class="table">
        <thead>
            <th>Id</th>
            <th>Nom Catégorie</th>
        </thead>
        <tbody>
            {% for ctgr in ctgrs %}
            <tr>
                <td><a href="{% url 'dtl_ctgr' ctgr.idCat %}">{{ ctgr.idCat }}</a> </td>
                <td>{{ ctgr.nomCat }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'crt-ctgr' %}">Créer une nouvelle catégorie</a>
    <p>
    J'ai
    {% if ctgrs|length < 5 %}
    peu de
    {% elif ctgrs|length < 10 %}
    quelques
    {% else %}
    beaucoup de
    {% endif %}
    catégories préférés.
    </p>
{% endblock %}