{% extends 'monApp/base.html' %}
{% block menu %}
    <h1>Liste des statut</h1>
{% endblock %}
{% block contenu %}
<table class="table">
        <thead>
            <th>Id</th>
            <th>Libelle</th>
        </thead>
        <tbody>
            {% for sttt in sttts %}
            <tr>
                <td><a href="{% url 'dtl_sttt' sttt.idStatut %}">{{ sttt.idStatut }}</a></td>
                <td>{{ sttt.libelle }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
    J'ai
    {% if sttts|length < 5 %}
    peu de
    {% elif sttts|length < 10 %}
    quelques
    {% else %}
    beaucoup de
    {% endif %}
    statut préférés.
    </p>
{% endblock %}